<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>upload</servlet-name>
        <servlet-class>upload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>activity</servlet-name>
        <servlet-class>activity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>service</servlet-name>
        <servlet-class>service</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>leaks</servlet-name>
        <servlet-class>leaks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>permissiont</servlet-name>
        <servlet-class>permissiont</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>upload</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>activity</servlet-name>
        <url-pattern>/activity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>service</servlet-name>
        <url-pattern>/service</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>leaks</servlet-name>
        <url-pattern>/leaks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>permissiont</servlet-name>
        <url-pattern>/permissiont</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
